.elementor-600 .elementor-element.elementor-element-a14dd56 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 41px;
  --padding-bottom: 41px;
  --padding-left: 41px;
  --padding-right: 41px;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
.elementor-600 .elementor-element.elementor-element-a5fc99d {
  margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 0px 0px 0px 0px;
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.elementor-600
  .elementor-element.elementor-element-a5fc99d
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-6bee451);
  transition: color 0.3s;
}
.elementor-600
  .elementor-element.elementor-element-a5fc99d
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-6bee451);
  transition: fill 0.3s;
}
.elementor-600
  .elementor-element.elementor-element-a5fc99d
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-600
  .elementor-element.elementor-element-a5fc99d
  .elementor-icon-list-item
  > a {
  font-family: "Play", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-600
  .elementor-element.elementor-element-a5fc99d
  .elementor-icon-list-text {
  color: var(--e-global-color-6bee451);
  transition: color 0.3s;
}
.elementor-widget-divider {
  --divider-color: var(--e-global-color-secondary);
}
.elementor-widget-divider .elementor-divider__text {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-secondary);
}
.elementor-600 .elementor-element.elementor-element-ca9a0e6 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
  margin: -25px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-600
  .elementor-element.elementor-element-ca9a0e6
  .elementor-divider-separator {
  width: 100%;
}
.elementor-600 .elementor-element.elementor-element-ca9a0e6 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-600 .elementor-element.elementor-element-9e108cc {
  margin: -19px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 0px 0px 0px 0px;
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.elementor-600
  .elementor-element.elementor-element-9e108cc
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-6bee451);
  transition: color 0.3s;
}
.elementor-600
  .elementor-element.elementor-element-9e108cc
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-6bee451);
  transition: fill 0.3s;
}
.elementor-600
  .elementor-element.elementor-element-9e108cc
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-600
  .elementor-element.elementor-element-9e108cc
  .elementor-icon-list-item
  > a {
  font-family: "Play", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-600
  .elementor-element.elementor-element-9e108cc
  .elementor-icon-list-text {
  color: var(--e-global-color-6bee451);
  transition: color 0.3s;
}
.elementor-600 .elementor-element.elementor-element-78ac060 {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
  margin: -25px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-600
  .elementor-element.elementor-element-78ac060
  .elementor-divider-separator {
  width: 100%;
}
.elementor-600 .elementor-element.elementor-element-78ac060 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
#elementor-popup-modal-600 .dialog-message {
  width: 400px;
  height: 762px;
  align-items: flex-start;
}
#elementor-popup-modal-600 {
  justify-content: flex-end;
  align-items: center;
}
#elementor-popup-modal-600 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-600 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .elementor-600 .elementor-element.elementor-element-a5fc99d {
    border-radius: 0px 0px 0px 0px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    --icon-vertical-align: center;
  }
  .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(15px / 2);
    margin-left: calc(15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px / 2);
    margin-left: calc(-15px / 2);
  }
  body.rtl
    .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-15px / 2);
  }
  body:not(.rtl)
    .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-600
    .elementor-element.elementor-element-a5fc99d
    .elementor-icon-list-item
    > a {
    font-size: 20px;
  }
  .elementor-600 .elementor-element.elementor-element-ca9a0e6 {
    margin: -22px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  }
  .elementor-600 .elementor-element.elementor-element-9e108cc {
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(15px / 2);
    margin-left: calc(15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px / 2);
    margin-left: calc(-15px / 2);
  }
  body.rtl
    .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-15px / 2);
  }
  body:not(.rtl)
    .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-15px / 2);
  }
  .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-600
    .elementor-element.elementor-element-9e108cc
    .elementor-icon-list-item
    > a {
    font-size: 20px;
  }
  .elementor-600 .elementor-element.elementor-element-78ac060 {
    margin: -22px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  }
}
@media (min-width: 768px) {
  .elementor-600 .elementor-element.elementor-element-a14dd56 {
    --content-width: 1600px;
  }
}
