.elementor-774 .elementor-element.elementor-element-604bd6b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
  --z-index: 9;
}
.elementor-774 .elementor-element.elementor-element-baa1cfa {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
}
.elementor-774 .elementor-element.elementor-element-c4f88b7 {
  --display: flex;
  --align-items: flex-start;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-774 .elementor-element.elementor-element-274875c {
  text-align: left;
  margin: 13px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 0px 0px 0px 20px;
}
.elementor-774 .elementor-element.elementor-element-274875c img {
  width: 10%;
  border-radius: 124px 124px 124px 124px;
}
.elementor-774 .elementor-element.elementor-element-b203c1b {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-774 .elementor-element.elementor-element-b203c1b.e-con {
  --align-self: center;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(12px / 2);
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(12px / 2);
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(12px / 2);
  margin-left: calc(12px / 2);
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-12px / 2);
  margin-left: calc(-12px / 2);
}
body.rtl
  .elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-12px / 2);
}
body:not(.rtl)
  .elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-12px / 2);
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-a8ac058);
  transition: color 0.3s;
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-a8ac058);
  transition: fill 0.3s;
}
.elementor-774 .elementor-element.elementor-element-c76c0a0 {
  --e-icon-list-icon-size: 25px;
  --icon-vertical-offset: 0px;
  margin: -14px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 0px 30px 0px 0px;
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-icon {
  padding-right: 3px;
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-item
  > a {
  font-family: "Play", Sans-serif;
  font-size: 19px;
  font-weight: 600;
}
.elementor-774
  .elementor-element.elementor-element-c76c0a0
  .elementor-icon-list-text {
  color: var(--e-global-color-6bee451);
  transition: color 0.3s;
}
.elementor-774 .elementor-element.elementor-element-126b53d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --z-index: 9;
}
.elementor-774 .elementor-element.elementor-element-10fa2c0 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
}
.elementor-774 .elementor-element.elementor-element-2f15505 {
  --display: flex;
  --align-items: flex-start;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
}
.elementor-774 .elementor-element.elementor-element-1b9f424 {
  text-align: left;
  margin: -15px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
  padding: 0px 0px 0px 20px;
}
.elementor-774 .elementor-element.elementor-element-1b9f424 img {
  width: 10%;
  border-radius: 124px 124px 124px 124px;
}
.elementor-774 .elementor-element.elementor-element-a93ffb3 {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-774 .elementor-element.elementor-element-a93ffb3.e-con {
  --align-self: center;
}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-774
  .elementor-element.elementor-element-3e6d9a9
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-774
  .elementor-element.elementor-element-3e6d9a9.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-6bee451);
}
.elementor-774
  .elementor-element.elementor-element-3e6d9a9.elementor-view-framed
  .elementor-icon,
.elementor-774
  .elementor-element.elementor-element-3e6d9a9.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-6bee451);
  border-color: var(--e-global-color-6bee451);
}
.elementor-774
  .elementor-element.elementor-element-3e6d9a9.elementor-view-framed
  .elementor-icon,
.elementor-774
  .elementor-element.elementor-element-3e6d9a9.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-6bee451);
}
.elementor-theme-builder-content-area {
  height: 400px;
}
.elementor-location-header:before,
.elementor-location-footer:before {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1024px) {
  .elementor-774 .elementor-element.elementor-element-274875c img {
    width: 54%;
  }
  .elementor-774 .elementor-element.elementor-element-1b9f424 img {
    width: 54%;
  }
}
@media (max-width: 767px) {
  .elementor-774 .elementor-element.elementor-element-604bd6b {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-774 .elementor-element.elementor-element-126b53d {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-774 .elementor-element.elementor-element-10fa2c0 {
    --min-height: 144px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-774 .elementor-element.elementor-element-2f15505 {
    --width: 39%;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-774 .elementor-element.elementor-element-1b9f424 img {
    width: 70%;
  }
  .elementor-774 .elementor-element.elementor-element-1b9f424 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 15px 0px 15px 0px;
  }
  .elementor-774 .elementor-element.elementor-element-a93ffb3 {
    --width: 50%;
  }
  .elementor-774
    .elementor-element.elementor-element-3e6d9a9
    .elementor-icon-wrapper {
    text-align: right;
  }
  .elementor-774 .elementor-element.elementor-element-3e6d9a9 .elementor-icon {
    font-size: 40px;
  }
  .elementor-774
    .elementor-element.elementor-element-3e6d9a9
    .elementor-icon
    svg {
    height: 40px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-774 .elementor-element.elementor-element-c4f88b7 {
    --width: 40%;
  }
  .elementor-774 .elementor-element.elementor-element-2f15505 {
    --width: 40%;
  }
}
